
# FILE MẪU CẤU HÌNH MÔI TRƯỜNG
# Các bạn hãy copy file này, đổi tên thành .env rồi điền Key của mình vào nhé!

# Key API của Gemini (Lấy từ Google AI Studio)
GEMINI_API_KEY=AIzaSyA2gJezvdhKfXAmnLKLj5PfAQyFmSiJ3o4

# Các cấu hình khác (nếu có)
PORT=8000git pull